<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="How to display global notifications for an application using Backbone and Marionette">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>marionette.notifications.js: global notifications using Marionette and Backbone</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://github.com/Ebury/">Ebury</a>
        </div>
        <div class="collapse navbar-collapse js-navbar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="https://ebury.github.io/marionette.notifications/">marionette.notifications.js <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="js-notifications-view notifications"></div>

    <div class="container">

      <h2>Demo</h2>

      <p>How to display global notifications for an application using <strong>marionette.notifications.js</strong></p>

      <ul>
        <li>
          <a href="https://github.com/Ebury/marionette.notifications">Docs</a>
        </li>
        <li>
          <a href="https://github.com/Ebury/marionette.notifications/tree/demo">Demo source code</a>
        </li>
      </ul>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#default" role="tab" data-toggle="tab">Default</a></li>
        <li role="presentation"><a href="#custom" role="tab" data-toggle="tab">Custom</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in" id="default">
          <p>Click one of the buttons below to add a global notification using the default configuration.</p>

          <div class="btn-group">
            <button type="button" class="btn btn-success js-add-notification" data-notification-type="success">
              Add success notification
            </button>
            <button type="button" class="btn btn-danger js-add-notification" data-notification-type="danger">
              Add error notification
            </button>
            <button type="button" class="btn btn-warning js-add-notification" data-notification-type="warning">
              Add warning notification
            </button>
            <button type="button" class="btn btn-info js-add-notification" data-notification-type="info">
              Add info notification
            </button>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="custom">
          <div class="row">
            <div class="col-md-6">
              <p>Click on the button below to add a global notification in a custom container and using a custom template.</p>

              <button type="button" class="btn btn-default js-add-notification" data-notification-type="custom">
                Add notification
              </button>
            </div>
            <div class="col-md-6">
              <div class="js-custom-notifications-view custom-notifications"></div>
            </div>
          </div>

        </div>
      </div>


    </div>

    <script type="text/template" class="js-notification-template">
      <div class="alert alert-<%= type %> alert-dismissible" role="alert">
        <button type="button" class="close js-notification-close" data-dismiss="alert">&times;</button>
        <strong><%= message %></strong>
      </div>
    </script>

    <script type="text/template" class="js-custom-notification-template">
      <div class="custom-notification">
        <i class="glyphicon glyphicon-bell"></i><%= message %> <span class="date">(<%= new Date() %>)</span>
      </div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/backbone.babysitter/lib/backbone.babysitter.js"></script>
    <script src="/bower_components/backbone.wreqr/lib/backbone.wreqr.js"></script>
    <script src="/bower_components/backbone.marionette/lib/core/backbone.marionette.js"></script>
    <script src="/bower_components/marionette.notifications/dist/marionette.notifications.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
